[submodule "third_party/raft"]
	path = third_party/raft
	url = https://github.com/RedisLabs/raft.git
        ignore = dirty
[submodule "third_party/ccbench"]
	path = third_party/ccbench
	url = https://github.com/masa16/ccbench.git
        ignore = dirty
